@use './color' as *;

.text-box {
	color: $pink;
	width: 100%;
	padding-top: 16px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 30px;
}

.text-box h1 {
	font-size: 300px;
	color: $light-pink;
	-webkit-text-stroke: 4px $pink;
	text-align: center;
	margin-top: 15rem;
}
