@use './color' as *;

.content {
	color: $pink;
	text-align: center;
	width: 100%;
	padding-top: 16px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 30px;
}

.content h1 {
	font-size: 300px;
	font-family: 'Yeseva One';
	margin-top: 15rem;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
	color: transparent;
	padding-left: 115rem;
	margin-top: 30rem;
	-webkit-text-stroke: 4px $pink;
}

.content h1:nth-child(2) {
	color: $light-pink;
	padding-left: 115rem;
	margin-top: 30rem;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

@media screen and (max-width: 960px) {
	.content h1:nth-child(1) {
		color: transparent;
		text-align: center;
		-webkit-text-stroke: 3px $pink;
	}

	.content h1:nth-child(2) {
		color: $light-pink;
		text-align: center;
		animation: animate 4s ease-in-out infinite;
	}
}
