@use './color' as *;

#preloader {
	background: $gray url(../img/favicon.png) no-repeat center center;
	background-size: 12%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.loader-text {
	font-family: 'Croissant One', cursive;
	font-size: 3rem;
	color: $pink;
	padding-top: 40rem;
	padding-left: 40rem;
	letter-spacing: 10px;
}
