@use './color' as *;

.font3 {
	font-family: 'Sacramento', cursive;
	text-align: center;
	font-size: 4rem;
	color: $pink;
}

@media screen and (max-width: 960px) {
	.font3 {
		font-family: 'Sacramento', cursive;
		text-align: center;
		font-size: 2rem;
		color: $pink;
	}
}
